.first-slide{
  background-image: url("../img/wood-2.jpg")
}

.carousel-inner .item{
  height:70vh;
  background-size: cover;
  background-position: center;
}

.slide-logo {
  max-height:300px;
}

.second-slide{
  background-image: url('../img/restaurant-2.jpg');
}

.third-slide{
  background-image: url('../img/farm-2.jpg');
}

.navbar-default{
  background-color:transparent;
  border-color:transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
  color:white;
  background-color:rgba(0,0,0,.5)
}

.navbar-default .navbar-nav>li>a{
  color:white;
}

.navbar-default .navbar-nav>li>a:hover{
  color:orange;
  background-color:rgba(0,0,0,.3)
}

.navbar-default .navbar-nav>.active>a:hover{
  color:orange;
}

/* Our Story Styles */
#our_story {
  min-height: 600px;
  display: flex;
  align-items: center;
}
#our_story h1 {
  font-family: 'Lobster', cursive;
  color: #F8512F;
  font-size: 6em;
  text-shadow: 1px 1px 5px #0A0A0A;
}
#our_story h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 12em;
  color: rgba(149, 147, 147, 0.2);
  position: absolute;
  z-indez: -1;
}
#our_story h3 {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 2em;
margin-top: 0;
}

/* Review */
#review {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  background-image: url('../img/food_review.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#review .container {
  background-color: rgba(20,20,20,.6);
  padding: 10px;
  border-radius:5px;
}

#review p {
color:white;
font-family:'raleway', sans-serif;
font-size: 2em;
text-shadow: 1px 1px 1px #c3c3c3;
}

#review h1 {
  font-family: 'Lobster', cursive;
  color: #F8512F;
  font-size: 6em;
  text-shadow: 1px 1px 5px #0A0A0A;
}

/* End Review */
/* Menu */

#menu{
  background-image:url('../img/black_linen.png');
  background-size: cover;
  min-height: 600px;
  padding-bottom: 5%;
}

#menu h1 {
  font-family: 'Lobster', cursive;
  color: #fff;
  font-size: 6em;
  text-shadow: 1px 1px 5px #0A0A0A;
}

#menu a{
  color:#f8512f;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#menu .tab-content .food{
  background-color:#fff;
  padding:5%;
}

#menu .tab-content .row{
  margin:0;
}

#menu .tab-content h3{
  font-family: 'Lobster', cursive;
}

/* End Menu */

/* Start Contact */
#contact{
  background-color: #f8512F;
  min-height: 750px;
  color:white;
  padding: 15px;
}

#contact h1{
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 4em;
}

#contact .form-group span {
  color: black;
}

#contact .contact-form{
  border-width:1px;
  border-color:white;
  border-style:solid;
  padding:15px;


}
/* End Contact */
